# Ignorowanie folderu wirtualnego środowiska
venv/

# Ignorowanie plików tymczasowych edytorów
*.swp
*.swo
.vscode/

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db

# Ignorowanie plików konfiguracyjnych
.env
__pycache__/
